*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: lightgray;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background: black;            
    color: white;
}
.logo {
    font-size: 28px;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 230;
}

.nav-links a:hover {
    font-weight: 400;
}



.main-title {
      position: relative;
    background-color: lightgray;
    padding: 25px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center; 
}

.title-text {
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.search-bar {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 220px;
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 20px;
}
.materials-container {
    max-width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.material-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
    border-top: 5px solid black;
}

.material-card h3 {
    color: #19191c;
}

.material-card p {
    margin: 6px 0;
}

.download-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 10px;
    background: #000000;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.download-btn:hover {
    background: #fefeff;
    color: black;
    border: 1px solid black;
    font-weight:  700;
}
.delete {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    padding: 8px 10px;
    background: #000000;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.delete:hover {
    background: #fefeff;
    color: black;
    border: 1px solid black;
    font-weight:  700;
}

.share{
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
