*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: #;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background: #545353;             
    color: white;
}
.logo {
    font-size: 28px;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 230;
}

.nav-links a:hover {
    font-weight: 400;
}



.main-title{
    color: #000000;
    background-color: # !important;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 25px 0;
    margin: 0 0 20px ;
}

.materials-container {
    max-width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.material-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
    border-top: 5px solid #545353;
}

.material-card h3 {
    color: #19191c;
}

.material-card p {
    margin: 6px 0;
}

.download-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 10px;
    background: #000000;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.download-btn:hover {
    background: #fefeff;
    color: black;
    border: 1px solid black;
    font-weight:  700;
}
